/* 1. D'abord les imports externes (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* 2. Ensuite l'import de Tailwind (v4) */
@import "tailwindcss";

/* 3. Et enfin, tes styles personnalisés s'il y en a */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}